@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round';
}

header {
  padding: 20px;
  box-shadow: 3px 0 5px #282828;
}

header a {
  text-decoration: none;
  font-size: 25px;
  color: #606060;
}

header span {
  font-size: 30px;
  margin-left: 30px;
}

.sideBar {
  position: fixed;
  width: 250px;
  height: 100%;
  border-right: 1px solid #c2c2c2;
  padding: 0 10px;
  top: 80px;
  left: 0;
  overflow: hidden;
  transition: .5s;
}

.sideBar .info {
  text-align: center;
  padding: 20px 0;
}

.sideBar .info .img-info {
  width: 112px;
  transition: .5s;
}

.sideBar ul li {
  border-left: 3px solid transparent;
  height: 50px;
  padding: 0 10px;
}

.sideBar ul li:hover {
  border-left: 3px solid #cc0000;
  background: #f9f9f9;
}

.sideBar ul .selected {
  border-left: 3px solid #cc0000;
  background: #f9f9f9;
}

.sideBar ul .selected a {
  background: #f9f9f9;
  color: #cc0000;
}

.sideBar ul li i {
  font-size: 25px;
  line-height: 40px;
}

.sideBar ul li a .txtLink {
  overflow: hidden;
  transition: .5s;
  margin-left: 10px;
}

.sideBar ul li a {
  overflow: hidden;
  text-decoration: none;
  color: #606060;
  font-size: 20px;
  line-height: 50px;
  display: inline-block;
  width: 100%;
}

.main {
  margin-top: 5px;
  margin-left: 250px;
  transition: margin-left .5s;
  padding: 20px;
  background-color: #f9f9f9;
}




