/* ---------------- GOOGLE FONTS ---------------- */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/* ---------------- VARIABLES O CUSTOM PROPERTIES ---------------- */
:root {
  --fondo1: rgb(11, 12, 19);
  --fondo2: rgb(17, 18, 29);
  --fondo3: rgb(32, 33, 51);
  --blanco: rgb(218, 218, 218);
  --rojo: rgb(198, 31, 42);
  --separaLetras: 2px;
  --gris: rgb(76, 76, 79);
  --hoverBoton: rgb(239, 60, 72);
}
/* ---------------- CONFIGURACIONES GENERALES ---------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: var(--fondo2);
  line-height: 1.5; /* Interlineado  */
}

/* ---------------- GLOBALES ---------------- */
a {
  text-decoration: none;
  color: var(--blanco);
}

h2 {
  display: inline;
  max-width: 50rem;
  white-space: normal;
  color: var(--blanco);
  font-size: 4rem;
  line-height: 1; /* Define espaciado entre renglones */
  font-weight: 400;
}

h3 {
  color: var(--blanco);
}

/* ---------------- UTILIDADES ---------------- */

.container {
  margin: 15rem 6.5rem 8rem;
}

/* ---------------- SECCION DE ENCABEZADO ---------------- */

.header {
  width: 100%;
  min-height: 6.7rem;
  background-color: var(--fondo1);
  display: flex;
  justify-content: space-around;
  align-items: center;

  /* position: fixed fija el Header al hacer scroll haca abajo */
  position: fixed;
  top: 0px;
}

.header h1 {
  color: var(--blanco);
  font-size: 2.8rem;
  font-weight: bold;
  letter-spacing: var(--separaLetras);
}

.header h1 span {
  font-size: 2.8rem;
  font-weight: bold;
  color: var(--rojo);
}

.nav {
  display: flex;
}

.nav .btn-menu {
  display: none;
}

.nav .menu {
  display: flex;
}

.menu div {
  padding: 5px 0;
  font-size: 1.3rem;
  margin-left: 30px;
  cursor: pointer;
}

.menu div i {
  color: var(--rojo);
  margin-right: 3px;
  font-size: 1.5rem;
}

.menu div:hover {
  border-bottom: 1px solid var(--blanco);
}

/* ---------------- MEDIA QUERIES DEL HEADER ---------------- */

@media (max-width: 980px) {
  .container {
    margin: 7rem 6.5rem 8rem;
  }

  .header {
    padding: 20px;
    display: flex;
    flex-direction: column;

    position: relative; /* Elimina el position: fixed del header */
  }

  .header h1 {
    margin-bottom: 10px;
  }
}

@media (max-width: 789px) {
  .header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header h1 {
    text-align: center;
  }

  .nav .menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
  }

  .menu div {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .menu div i {
    margin-right: 12px;
  }
}

@media (max-width: 425px) {
  .header {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .header h1 {
    font-size: 2.2rem;
    /* margin: 0; */
  }

  .header h1 span {
    font-size: 2.2rem;
  }

  .nav .btn-menu {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .nav .btn-menu:hover {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-color: rgb(35, 35, 40);
  }

  .btn-menu .fa-solid {
    margin: 0;
    padding: 12px;
    color: var(--rojo);
    font-size: 1.6rem;
    /* background-color: ; */
  }

  .nav .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav .menu {
    display: none;
    /*display: flex;
    flex-direction: column;
    align-items: start; */
  }

  /* .header {
      padding: 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    } */
}

/* ---------------- SECCION DE INICIO ---------------- */

.inicio {
  display: flex;
  flex-direction: column;
}

.inicio p {
  margin: 2rem 0;
  color: var(--gris);
  font-size: 1.3rem;
  width: 45%;
}

.inicio button {
  color: var(--blanco);
  background-color: var(--rojo);
  border: none;
  font-size: 1.3rem;
  width: 20%;
  padding: 15px;
  cursor: pointer;
}

.inicio button:hover {
  background-color: var(--hoverBoton);
}

/* ---------------- MEDIA QUERIES SECCION INICIO ---------------- */

@media (max-width: 789px) {
  .inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .inicio h2 {
    text-align: center;
    font-size: 2.5rem;
  }

  .inicio p {
    width: 85vw;
    text-align: justify;
  }

  .inicio button {
    width: 20vw;
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .container {
    margin: 6rem 6.5rem 8rem;
  }
  .inicio button {
    width: 40vw;
    font-size: 1rem;
  }
}

/* ---------------- SECCION SERVICIOS Y HABILIDADES ---------------- */

.servicios h3 {
  font-size: 1.3rem;
}

.servicios h2 {
  color: var(--rojo);
  font-weight: bold;
}

.habilidades {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.habilidades .item {
  background-color: var(--fondo3);
  border-radius: 3px;
  padding: 4rem 2rem 2rem;
}

.item i {
  color: var(--rojo);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.item h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  line-height: 1.2; /* Define espaciado entre renglones */
}

.item p {
  color: var(--blanco);
  font-size: 1rem;
}

/* ---------------- MEDIA QUERIES SECCION SERVICIOS Y HABILIDADES ---------------- */

@media (max-width: 789px) {
  .habilidades {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }
}

@media (max-width: 425px) {
  .servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .servicios h2 {
    font-size: 3rem;
  }

  .habilidades {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
  }

  .habilidades .item {
    width: 70vw;
  }

  .item h3 {
    line-height: 1; /* Define espaciado entre renglones */
  }
}

/* ---------------- SECCION CONTACTO ---------------- */

.contacto h2 {
  color: var(--rojo);
  font-weight: bold;
}

.contacto form {
  width: 54vw;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form .input {
  width: 100%;
  margin: 1rem 0;
  height: 3rem;
  background-color: var(--fondo3);
  color: var(--blanco);
  font-size: 1.6rem;
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el contorno de enfoque del input */
  padding: 15px; /* Añade algún espacio interno para mejorar el aspecto */
}

form .mensaje {
  width: 100%;
  height: 15rem;
  margin: 1rem 0;
  background-color: var(--fondo3);
  font-size: 1.6rem;
  color: var(--blanco);
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el contorno de enfoque del input */
  padding: 15px; /* Añade algún espacio interno para mejorar el aspecto */
  resize: none; /* Restringe el redimensionamiento del elemento textarea */
  font-family: "Lato";
}

form .button {
  margin: 1rem 0;
  color: var(--blanco);
  background-color: var(--rojo);
  border: none;
  font-size: 1.3rem;
  width: 9rem;
  padding: 10px 40px;
  cursor: pointer;
}

form .button:hover {
  background-color: var(--hoverBoton);
}

/* ---------------- MEDIA QUERIES SECCION CONTACTO ---------------- */

@media (max-width: 789px) {
  .contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contacto form {
    align-items: center;
  }

  form .button {
    padding: 15px 40px;
    font-size: 1rem;
  }
}

@media (max-width: 425px) {
  .contacto h2 {
    font-size: 3rem;
  }

  .contacto form {
    width: 100vw;
    align-items: center;
  }

  form .input {
    width: 85%;
  }

  form .mensaje {
    width: 85%;
    height: 16rem;
  }

  form .button {
    width: 40vw;
    font-size: 1rem;
  }
}

/* ---------------- SECCION FOOTER ---------------- */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
}
.footer span {
  width: 85vw;
  border: 1px solid var(--gris);
}

.footer .social-media {
  padding: 1rem 0;
}

.social-media a i {
  color: var(--rojo);
  font-size: 1.8rem;
  margin: 0 1rem;
}

.footer p {
  color: var(--blanco);
  font-size: 1rem;
}

/* ---------------- MEDIA QUERIES FOOTER ---------------- */

@media (max-width: 425px) {
  .social-media a i {
    font-size: 1.4rem;
  }
}
