/* --------- FUENTES DE GOOGLE FONTS ---------- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* ------------------ ESTILOS BASE ------------------ */

img {
  display: block;
  width: 100%;
  max-width: 100%;
}
