/* ---------------- GOOGLE FONTS ---------------- */
@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Nunito+Sans:opsz@6..12&family=Roboto+Flex:opsz@8..144&display=swap");

/* ---------------- VARIABLES O CUSTOM PROPERTIES ---------------- */

:root {
  --fondo1: rgb(30, 31, 32);
  --gris: rgb(98, 99, 99);
}

/* ---------------- CONFIGURACIONES GENERALES ---------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--fondo1);
}

/* ---------------- GLOBALES ---------------- */

/* ---------------- UTILIDADES ---------------- */

/* ---------------- SECCION DE HEADER ---------------- */

.container {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  /* background-color: blue; */
  width: 90%;
  padding: 4rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header i {
  font-size: 1.8rem;
  color: var(--gris);
  padding-bottom: 2px;
}

header h1 {
  font-family: "Julius Sans One", sans-serif;
  color: rgb(171, 171, 171);
}

@media (max-width: 768px) {
  header {
    padding: 2rem 0 0;
  }
}

/* ---------------- SECCION DE GALERIA ---------------- */

.galeria {
  width: 90%;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-auto-rows: 2fr;
}

.galeria .box1 {
  padding: 20px;
  background-color: chocolate;
  grid-area: 1 / 1 / 2 / 7;
}

.galeria .box2 {
  padding: 20px;
  background-color: violet;
  grid-area: 2 / 1 / 3 / 3;
}

.galeria .box3 {
  padding: 20px;
  background-color: darkslateblue;
  grid-area: 2 / 3 / 3 / 7;
}

.galeria .box4 {
  padding: 20px;
  background-color: deeppink;
  grid-area: 3 / 1 / 4 / 5;
}

.galeria .box5 {
  padding: 20px;
  background-color: peru;
  grid-area: 3 / 5 / 5 / 7;
}

.galeria .box6 {
  padding: 20px;
  background-color: cadetblue;
  grid-area: 4 / 1 / 5 / 3;
}

.galeria .box7 {
  padding: 20px;
  background-color: darkred;
  grid-area: 4 / 3 / 5 / 5;
}

.galeria .box8 {
  padding: 20px;
  background-color: darkseagreen;
  grid-area: 5 / 1 / 6 / 4;
}

.galeria .box9 {
  padding: 20px;
  background-color: teal;
  grid-area: 5 / 4 / 6 / 7;
}
