@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    color: #262626;
    background: url(img/fondo2.jpg);
    font-family: "Nunito";
}

h1{
    padding: 30px;
    color: white;
    text-transform: uppercase;
    font-size: 41px;
    font-weight: bolder;
}

.container{
    background: #E2DCC8;
    max-width: 700px;
    margin: auto;
    border: 2px solid #000;
    border-radius: 20px;
    display: flex;
    padding: 50px 0;
}

.izquierdo {
    width: 70%;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.derecha{
    width: 30%;
}

.msj{
    font-size: 40px;
    height: 50px;
}

.opcion{
    width: 80px;
    height: 80px;
    border: 1px solid #000;
    font-size: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.opcion:hover{
    background-color: lightslategray;
}





