* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: row;

}

/* ------------------- ESTILOS PARA BOTÓN DE MENU TIPO HAMBURGUESA --------------------- */

/* Damos estilos al elemento BUTTON */
button {
 /*  position: relative; */
  z-index: 900;
  order: 2; /* Coloca el botón en segunda posición */
  margin-top: 20px;
  margin-left: 25px;
  width: 3rem;
  height: 3rem;
  padding: 30px;
  border: 0;
  background-color: transparent;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.fa-solid {
  font-size: 1.9rem;
}

.text-menu {
  order: 3; /* Coloca el texto "menú" en tercera posición */
  margin-top: 37px;
  margin-left: 3px;
  font-size: 1.4rem;
}

/* ------------------- ESTILOS PARA EL MENU --------------------- */
.menu {
  z-index: 800;
  order: 1; /* Coloca el menu en primera posición */
  background-color: black;
  width: 20vw;
  height: 100vh;
  display: none;
}

.menu .button2 {
  margin-top: 20px;
  margin-left: 15px;
  width: 3rem;
  height: 3rem;
  padding: 30px;
  border: 0;
  background-color: transparent;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu .button2 i {
  color: white;
}

.menu nav {
  /* width: 100%;
  height: 100%; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.menu nav li {
  margin: 20px 0;
  margin-left: 30px;
  list-style: none; /* Eliminar viñetas o puntitos laterales del elemento li*/
  display: flex;
  align-items: center;
}

.menu nav i {
  font-size: 1.4rem;
  color: white;
  margin-right: 20px;
}

.menu nav a {
  text-decoration: none; /* Elimina el subrayado a los enlaces */
  color: white;
  font-size: 1.5rem;
}
