/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    /* font-size: 1.6rem; */ /* 1.6rem = 16px */
    /* line-height: 1.5 */; /* Para el Interlineado, osea la separación (arriba - abajo) entre lineas de texto en un párrafo  */

    display: flex;
    justify-content: center;
}


/* ------------------- SECCION AGREGAR TAREA ------------------- */
.container {
    width: 100%;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.agregar-tarea {
    /* background-color: blue; */
    /* width: 35%; */
    padding: 8px 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.agregar-tarea .title {
    font-size: 1.4rem;
    margin: 5px;
    font-weight: bold;
}

.formulario label {
    font-size: 1rem;
}

.formulario .inputs {
    margin-top: 5px;
    display: flex;
    gap: 8px;
}

.formulario input[type="text"] {
    height: 1.5rem;
    font-size: 1rem;
}

.formulario input[type="submit"] {
    height: 1.5rem;
    /* line-height: 1.5rem; */
    font-size: 1rem;
    padding: 1px 10px;
}

/* ------------------- SECCION TAREAS AGREGADAS ------------------- */

.tareas-agregadas {
    /* background-color: red; */
    margin-top: 30px;

    /*  */
    padding: 8px 15px;
   /*  border: 1px solid rgba(0, 0, 0, 0.2); */
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.tareas-agregadas h2 {
    font-size: 1rem;
    font-weight: bold;
    margin: 5px auto;
    text-align: center;
    text-transform: uppercase;
}


/* ------------------- CLASES AGREGADAS A TRAVÉS DE JAVASCRIPT ------------------- */

.alerta {
    background-color: #ed9e9b;
    margin: 10px 0 0;
    min-width: 30%;
    padding: 0px 20px 0px;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: 1rem;
    color: #650c09;
    border-radius: 3px;
    border: 1px solid #dd6f6b;
}

.tarea {
    /* background-color: blue; */
    width: 23rem;
    line-height: 1.5rem;
    font-size: 1.2rem;
    padding: 10px;
    margin: 7px;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;


    display: flex;
    justify-content: space-between;
    align-items: center;

}

.btn-eliminar {
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.8rem;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.2rem;

    text-align: center;
    border-radius: 5px;
}

.btn-eliminar:hover {
    cursor: pointer;
    background-color: rgb(208, 22, 22);
}

.ocultar {
    display: none;
    border: none;
}


