* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: url(./img/scott-webb-VxRVVU8d9KY-unsplash.jpg);
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

h1 {
  font-size: 28px;
  text-align: center;
  margin: 40px;
}

h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.formulario {
  background-color: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(60px);
  margin:  50px auto;
  width: 60vh;
  padding: 50px;
  border-radius: 6px;
  box-shadow: 9px 10px 7px rgba(0, 0, 0, 0.39),
  -4px -5px 6px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario .nota {
  margin: 12px;
}

.formulario .nota label {
  font-size: 20px;
  padding: 0 5px;
}

.formulario .nota .input{
  width: 140px;
  height: 26px;
  padding: 0 5px;
  font-size: 17px;
  border-radius: 5px;
  text-align: center;
}

.btn {
  width: 120px;
  height: 38px;
  font-size: 20px;
  margin: 35px;
  padding: 5px;
  border-radius: 12px;
}

.btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.formulario .resultado {
  font-size: 20px;
  text-align: center;
}