* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

body {
  font-family: "Overpass", sans-serif;
  background-color: var(--very-dark-blue);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------- CARD CONTAINER 1 ------------- */

.card {
  position: relative;
  background-color: var(--dark-blue);
  width: 321px;
  border-radius: 15px;
}

.card__container1 {
  margin: 1.6rem 1.6rem;
}

.card__image {
  background-image: url(../images/icon-star.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  background-color: hsl(210, 10%, 24%);
  width: 2rem;
  height: 2rem;
  padding: 25px;
  border-radius: 50%;
}

.card__title {
  color: var(--white);
  font-size: 1.5rem;
  margin: 23px 0 16px;
  font-weight: 700;
}

.card__paragraph {
  font-size: 15px;
  color: var(--medium-grey);
  margin-bottom: 25px;
  text-align: start;
}

.card__rating {
  margin-bottom: 22px;
  color: var(--medium-grey);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__rating label {
  background-color: hsl(210, 10%, 24%);
  width: 2.7rem;
  height: 2.7rem;
  line-height: 2.9rem;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  user-select: none; /* Para evitar que el usuario pueda seleccionar el texto  */
}

.card__rating label:hover {
  background-color: var(--orange);
  color: var(--white);
  transition: all 0.5s;
}

/* Para ocultar el input radio nativo */
.card__rating [type="radio"] {
  position: absolute;
  opacity: 0;
}

.card__rating [type="radio"]:checked + label {
  background-color: var(--medium-grey);
  color: var(--white);
}

.card__button {
  width: 100%;
  background-color: var(--orange);
  color: var(--white);
  border: none;
  outline: none;
  font-size: 14px;
  text-transform: uppercase;
  padding: 15px 0;
  border-radius: 50px;
  letter-spacing: 3px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.card__button:hover {
  background-color: var(--white);
  color: var(--orange);
  font-weight: 700;
  transition: all 0.5s;
}

/* ------------- CARD CONTAINER 2 ------------- */
.card__container2 {
  position: absolute;
  background-color: var(--dark-blue);
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 383px;
  border-radius: 15px;
  padding: 1.6rem;
}

.card__image2 {
  width: 50%;
}

.card__subtitle {
  background-color: hsl(210, 10%, 24%);
  color: var(--orange);
  font-size: 14px;
  margin: 20px 0 15px;
  padding: 8px 10px;
  border-radius: 50px;
  font-weight: normal;
  letter-spacing: 1px;
}

.card__title2 {
  color: var(--white);
  margin-top: 5px;
  margin-bottom: 10px;
}

.card__paragraph2 {
  color: var(--medium-grey);
  text-align: center;
  line-height: 22px;
  margin-bottom: 10px;
}

.card__return {
  background-color: var(--orange);
  color: var(--white);
  padding: 6px 14px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  font-size: 0.95rem;
  font-weight: normal;
  letter-spacing: 1px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card__return:hover {
  background-color: var(--white);
  color: var(--orange);
  /* transition: all 0.1s; */
}

/* ------------ CLASES UTILIZADAS EN JAVASCRIPT ------------ */
.ocultar-card {
  visibility: hidden;
}

.mostrar-card {
  visibility: visible;
  transition: all 0.5s;
}

/* 
  opacity: 0;
  display: none;
  visibility: hidden;
*/
