/* -------------- FUENTES TIPOGRAFICAS GOOGLE FONTS -------------- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Yanone+Kaffeesatz&display=swap");

/* ------------------- ESTILOS GENERALES ------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  letter-spacing: 1.5px; /* Espacio entre cada letra */
}

img {
  display: block;
  max-width: 100%;
}

.section__title {
  text-align: center;
  font-size: 2.5rem;
  color: #fba919;
  margin-bottom: 1.3rem;
}

.contenedor {
  margin: auto;
  width: 94%;
}
/* ------------------- ESTILOS DEL HEADER ------------------- */
.header {
  height: 60px;
}

.header .contenedor {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 3rem;
  height: 3rem;
  margin: 5px;
}
.header__title {
  position: absolute;
  top: 30px;
  left: 70px;
  font-size: 1.5rem;
  color: rgb(44, 43, 43);
}

.icon-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block; /* Para convertir el span en un elemento de bloque */
  width: 2.5rem;
  height: 2.5rem;
  line-height: 3rem;
  font-size: 1.9rem;
  background-color: #fba919;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.9rem;
  font-size: 1.9rem;
  background-color: #fba919;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  visibility: hidden; /* Oculta el boton icon-close */
}
/* ------------------- ESTILOS DEL NAV Y MENU ------------------- */
.nav {
  /* background-color: cyan; */
  position: absolute;
  top: 65px;
  width: 100%;

  /* Oculta el nav a la derecha, luego aparecera con la clase mostrar */
  right: -100%;

  /* Transicion para cuando el nav aparece  */
  transition: all 0.5s;
}

.menu {
  list-style: none;
}

.menu__link {
  display: block;
  padding: 1rem;
  background-color: #fba919;
  text-decoration: none;
  color: #fff;
}

.menu__link:hover,
.select {
  background-color: white;
  color: #fba919;
}

/* Hace que el nav se muestre */
.mostrar-nav {
  right: 0;
}

/* Oculta boton */
.ocultar-btn-menu {
  visibility: hidden;
}

/* Muestra boton */
.mostrar-btn-menu {
  visibility: visible;
}

/* ------------------- ESTILOS DEL BANNER ------------------- */
.banner {
  margin-top: -60px; /* height del header es 60px, por eso se resta -60px */
  margin-bottom: 1.8rem;

  /* Colocar imagen del banner atras de todos los elementos */
  position: relative;
  z-index: -10;
}

.banner .contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); /* centra ele elemento */
  width: 100%;
  color: #fff;
  text-align: center;
}

.banner__title {
  color: #000000;
}

.banner__texto {
  display: none;
}

/* ------------------- ESTILOS DEL MAIN - INFO ------------------- */
.info__columna {
  background-color: #fba919;
  color: white;
  padding: 1rem;
  margin-bottom: 1.8rem;
}

/* ------------------- ESTILOS DE CURSOS ------------------- */
.cursos__columna {
  position: relative;
  margin-bottom: 2rem;
}
.cursos__descripcion {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 60%;
  height: 100%;
  padding: 6px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.cursos__title {
  font-size: 1.5rem;
  margin: 10px 0;
}

/* ------------------- ESTILOS DEL FOOTER ------------------- */
.footer {
  background-color: #333;
  color: #fff;
  padding: 15px;
  text-align: center;
  padding: 40px 0;
}

.footer .social [class^="icon-"] {
  display: inline-block;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 10px 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 40px;
}

.footer .copy {
  margin-top: 15px;
  font-size: 1.1rem;
}

/* ---------------------- MEDIA QUERIES ---------------------- */
@media (min-width: 480px) {
  .logo {
    width: 3.4rem;
    height: 3.4rem;
  }
  .header__title {
    position: absolute;
    top: 30px;
    left: 85px;
    font-size: 1.9rem;
  }
  .icon-menu {
    width: 2.8rem;
    height: 2.8rem;
    line-height: 3.4rem;
  }
  .icon-close {
    width: 2.8rem;
    height: 2.8rem;
    line-height: 3.4rem;
  }
  .banner__title {
    font-size: 2.1rem;
  }
  .banner__texto {
    display: block;
    font-size: 1.1rem;
    color: #000;
    font-weight: 600;
  }
  .info {
    display: flex;
    justify-content: space-between;
    margin-top: -75px;
  }
  .info__columna {
    width: 32%;
  }
  .info__title {
    margin: 15px 0;
    text-align: center;
    font-size: 2rem;
  }
  .info__texto {
    text-align: center;
    font-size: 1.1rem;
  }
  .cursos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 0;
  }
  .section__title {
    width: 100%;
  }
  .cursos__columna {
    width: 48%;
  }
  .footer .social [class^="icon-"] {
    margin: 0 10px;
  }
}

@media (min-width: 768px) {
  .header__title {
    position: absolute;
    top: 30px;
    left: 90px;
    font-size: 1.9rem;
  }
  .banner__title {
    font-size: 2.8rem;
  }
  .section__title {
    width: 100%;
    font-size: 3.3rem;
  }
  .cursos__title {
    font-size: 3rem;
  }
  .cursos__texto {
    font-size: 1.1rem;
  }
}

@media (min-width: 1024px) {
  .header .contenedor {
    width: 1000px;
  }
  .header__title {
    position: absolute;
    top: 30px;
    left: 120px;
    font-size: 1.9rem;
  }
  .icon-menu {
    display: none; /* Ocultamos los botones de menu */
  }
  .icon-close {
    display: none; /* Ocultamos los botones de menu */
  }
  .nav {
    position: static;
    width: auto;
  }
  .menu {
    display: flex;
  }
  .menu__link {
    background-color: transparent;
    font-size: 1.3rem;
    color: #333;
  }
  .select {
    background-color: #fba919;
    color: #fff;
  }

  .banner__img {
    width: 100%;
  }
  .banner__title {
    font-size: 3.6rem;
  }
  .banner__texto {
    font-size: 1.5rem;
  }

  .info {
    margin-top: -90px;
  }
  .info__columna {
    padding: 1.5rem;
  }
  .info__title {
    margin: 15px 0;
    text-align: center;
    font-size: 2.5rem;
  }

  .section__title {
    width: 100%;
    font-size: 3.7rem;
  }
  .cursos__descripcion {
    padding: 1.2rem;
  }
  .cursos__title {
    font-size: 3.6rem;
  }
  .cursos__texto {
    font-size: 1.2rem;
  }
}

@media (min-width: 1280px) {
  .contenedor {
    width: 1100px;
  }
}
