* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.container {
    margin: 30px;
}

.btn {
    background-color: black;
    width: 55px;
    height: 55px;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    outline: none;
    border-radius: 50%;
}

.btn .fa-moon {
    font-size: 1.6rem;
    color: white;
}

.btn .fa-sun{
    display: none;
    font-size: 1.6rem;
}

.dark-mode {
    background-color: black;
    color: white;
}
